<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>반갑습니다</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <style>
        .list-unstyled {
            margin: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .content-wrap {
            margin-top: 20rem;
            margin-bottom: 4rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

        }

        .media:hover {
            opacity: 0.5;
            position: relative;
        }

        .media_button {
            display: none;
        }

        .media:hover .media_button {
            position: absolute;
            top: 50%;
            left: 50%;
            display: block;
        }

        #searchbook {
            width: 500px;
        }
    </style>

    <script>
        $(document).ready(function () {
            listing();
        })

        function listing() {
            //검색 결과 카드 형태로 나열
            console.log("리스팅 완료");
        }

        function emptylist() {
            $('#bookresult').empty();
        }




        function make_card(thumbnail, title, authors, contents, url) {
            // 리스트 형태 결과 표시

            if (thumbnail == "") {
                thumbnail = 'https://search1.kakaocdn.net/thumb/C116x164.q85/?fname=http://search1.daumcdn.net/search/statics/common/img/noimg/4grid.png'
            }
            let bookcard =
                `<li class="media">
                    <div class="media_button">
                        <button type="button" onclick="location.href='/review?${encodeURI(url)}'">리뷰 보기</button>
                        <button type="button">내 책장 넣기</button>
                    </div>
                        <img src="${thumbnail}" class="mr-3" alt="..." height="120">
                        <div class="media-body">
                            <h5 class="mt-0 mb-1">${title}</h5><h6>${authors}</h6>
                            ${contents}
                        </div>
                </li>`


            $('#bookresult').append(bookcard);
        }


        // 엔터키 눌렀을때 이벤트 발생하게 하는 함수
        function enterkey() {
            if (window.event.keyCode == 13) {
                // 엔터키가 눌렸을 때 실행할 내용
                search();
            }
        }


        function search() {
            emptylist();
            // console.log($("#searchbook").val());
            //카카오 api에서 책정보 가져오기 (제목, 저자, ISBN 검색 가능)
            let searchbook = $("#searchbook").val()
            let search_key = $('#search_key').val()
            console.log(search_key)
            $.ajax({
                method: "POST",
                url: "/info",
                data: {
                    searchbook: searchbook,
                    search_key: search_key
                },
                success: function (response) {
                    let info = response.info
                    console.log(info)

                    for (let i = 0; i < info.length; i++) {
                        let books = response.info[i]
                        make_card(
                            books.thumbnail,
                            books.title,
                            books.authors,
                            books.contents,
                            books.url
                        )
                    }
                }
            })
        }
    </script>

</head>

<body>
    {% include 'header.html' %}
    
    <div class="content-wrap">
        <a href='/bookshelf'>
            <button type="button" class="btn btn-default">
                <svg class="bi bi-book" width="4em" height="4em" viewBox="0 0 16 16" fill="currentColor"
                    xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                        d="M3.214 1.072C4.813.752 6.916.71 8.354 2.146A.5.5 0 018.5 2.5v11a.5.5 0 01-.854.354c-.843-.844-2.115-1.059-3.47-.92-1.344.14-2.66.617-3.452 1.013A.5.5 0 010 13.5v-11a.5.5 0 01.276-.447L.5 2.5l-.224-.447.002-.001.004-.002.013-.006a5.017 5.017 0 01.22-.103 12.958 12.958 0 012.7-.869zM1 2.82v9.908c.846-.343 1.944-.672 3.074-.788 1.143-.118 2.387-.023 3.426.56V2.718c-1.063-.929-2.631-.956-4.09-.664A11.958 11.958 0 001 2.82z"
                        clip-rule="evenodd" />
                    <path fill-rule="evenodd"
                        d="M12.786 1.072C11.188.752 9.084.71 7.646 2.146A.5.5 0 007.5 2.5v11a.5.5 0 00.854.354c.843-.844 2.115-1.059 3.47-.92 1.344.14 2.66.617 3.452 1.013A.5.5 0 0016 13.5v-11a.5.5 0 00-.276-.447L15.5 2.5l.224-.447-.002-.001-.004-.002-.013-.006-.047-.023a12.582 12.582 0 00-.799-.34 12.96 12.96 0 00-2.073-.609zM15 2.82v9.908c-.846-.343-1.944-.672-3.074-.788-1.143-.118-2.387-.023-3.426.56V2.718c1.063-.929 2.631-.956 4.09-.664A11.956 11.956 0 0115 2.82z"
                        clip-rule="evenodd" />
                </svg>
                <br>내 책장
            </button>
        </a>
        <div class="form-inline">
            <div class="input-group-prepend">
                <select id='search_key' class="form-control mr-sm-2">
                    <option value='title'>제목</option>
                    <option value='authors'>저자</option>
                    <option value='ISBN'>ISBN</option>
                </select>
            </div>
            <input class="form-control mr-sm-2" id="searchbook" type="search" onkeyup="enterkey()"
                placeholder="제목, 저자명, ISBN" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit" onclick="search()">Search</button>
        </div>
    </div>

    <!-- 검색 결과 리스트 -->
    <!-- <div class="row row-cols-1 row-cols-md-3" id="bookresult"> -->
    <!-- 검색 결과 리스트 위치 -->
    <!-- </div> -->

    <!-- 검색 결과 리스트 -->
    <ul class="list-unstyled" id="bookresult">
        <!-- 검색 결과 리스트 위치 -->
    </ul>




</body>

</html>