<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>반갑습니다</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>


    <style>
        .list-unstyled{
            margin: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        .content-wrap {
            margin-top: 20rem;
            margin-bottom: 4rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        #searchbook {
            width: 500px;
        }
    </style>

    <script>
        $(document).ready(function () {
            listing();
            // 화면 로딩시 리스트 화면 제어
        });


        function listing() {
            //검색 결과 카드 형태로 나열
            console.log("리스팅 완료");


        }

        function emptylist() {
            $('#bookresult').empty();
        }


        function make_card(thumbnail, title, authors, contents) {
            // 카드 형태 결과 표시
            // let bookcard =
            //         `<div class="col mb-4">
            //     <div class="card">
            //         <img src="${thumbnail}" class="card-img-top" alt="...">
            //         <div class="card-body">
            //             <h5 class="card-title">${title}</h5>
            //             <p class="card-text">${contents}</p>
            //         </div>
            //     </div>
            // </div>`

            // 리스트 형태 결과 표시
            let bookcard =
                `<li class="media">
                    <img src="${thumbnail}" class="mr-3" alt="..." height="120">
                        <div class="media-body">
                            <h5 class="mt-0 mb-1">${title}</h5><h6>${authors}</h6>
                            ${contents}
                        </div>
                </li>`


            $('#bookresult').append(bookcard);
        }

        function search() {
            emptylist();
            // console.log($("#searchbook").val());
            //카카오 api에서 책정보 가져오기 (제목, 저자, ISBN 검색 가능)
            $.ajax({
                method: "GET",
                url: "https://dapi.kakao.com/v3/search/book?target=title",
                data: {
                    query: $("#searchbook").val(),
                    size: 20

                },
                headers: { Authorization: "KakaoAK 00fa0483d517bba90094a950448fdfdb" }, //API KEY 노출 주의할것
                success: function (response) {
                    console.log(response);
                    //  console.log(books);
                    for (let i = 0; i < response.documents.length; i++) {
                        let books = response.documents[i]
                        // console.log(books[i]);
                        // console.log(books.title);
                        make_card(
                            books.thumbnail,
                            books.title,
                            books.authors,
                            books.contents
                        )
                    }
                }
            })
        }
    </script>
</head>

<body>
    <!-- <div class="input-group mb-3, content-wrap">
        <div class="input-group-prepend">
          <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">제목</a>
            <a class="dropdown-item" href="#">저자</a>
            <a class="dropdown-item" href="#">키워드</a>
          </div>
        </div>
        <input id="bookName" type="text" class="form-control" style='height:50px' aria-label="Text input with dropdown button">
        <button id="search" onclick='search()'>검색</button>
      </div> -->
    <!-- 검색 버튼 -->
    <div class="content-wrap">
        <div class="form-inline">
            <input class="form-control mr-sm-2" id="searchbook" type="search" placeholder="제목, 저자명, ISBN"
                aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit" onclick="search()">Search</button>
        </div>
    </div>

    <!-- 검색 결과 리스트 -->
    <!-- <div class="row row-cols-1 row-cols-md-3" id="bookresult"> -->
        <!-- 검색 결과 리스트 위치 -->
    <!-- </div> -->

    <!-- 검색 결과 리스트 -->
    <ul class="list-unstyled" id="bookresult">
        <!-- 검색 결과 리스트 위치 -->
    </ul>




</body>

</html>